<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/brum-global-variable/brum-global-variable.html">

<dom-module id="visor-logout">
  <template>
    <style>
      :host {
        display: block;
      }
      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }
    </style>

    <iron-localstorage
      name="ilocalstorage"
      value="{{storedUser}}">
    </iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location
        route="{{route}}">
    </app-location>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <h5>____________________________________________________</h5>
    <img src="https://s3-eu-west-1.amazonaws.com/staticsfronttechu4/good+bye.png">
    <h5>____________________________________________________</h5>
    <input type="checkbox" name="sessionAlive" checked> I will be back in a while... please, keep my sesión alive ;-)
    <button on-click="logout" style="border:none; background-color:white; cursor:pointer"><img src="https://s3-eu-west-1.amazonaws.com/staticsfronttechu4/logout.png"></button>

    <template is="dom-if" if="[[mensaje]]">
        <p class="alert-error"><strong>Error:</strong> [[mensaje]]</p>
    </template>

    <iron-ajax
      id="doLogout"
      method="POST"
      url="http://apitechu4edv3-api-tabu-app.193b.starter-ca-central-1.openshiftapps.com/apitechu/v2/logout"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXLogoutresponse"
      on-error="showLogoutError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorLogout extends Polymer.Element {
      static get is() { return 'visor-logout'; }
      static get properties() {
        return {
          userid:{
            type: Number
          },
          storedUser: Object
        };
      }

      logout(){
        console.log("Logining out: " + this.storedUser.id_token);
        var logoutData = {
          "id": this.storedUser.id_token
        };
        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.headers.Authorization = 'Bearer ' + this.storedUser.access_token;
        this.$.doLogout.generateRequest();
      }

      manageAJAXLogoutresponse(data){
        console.log("Received logout response.");
        this.storedUser = null;
        this.set('route.path', '/login');
      }

      showLogoutError(error){
        console.log("Unable to locate the logout service. ");
        console.log(error);
        this.mensaje = "There was an error, please try it again later! Thanks!";
      }
    }

    window.customElements.define(VisorLogout.is, VisorLogout);
  </script>
  </dom-module>
