<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/brum-global-variable/brum-global-variable.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html" />
<link rel="import" href="../visor-head/visor-head.html">

<link rel="import"  href="../visor-login/visor-login.html">
<link rel="import"  href="../visor-logout/visor-logout.html">
<link rel="lazy-import"  href="../visor-accounts/visor-accounts.html">
<link rel="lazy-import"  href="../visor-operations/visor-operations.html">
<link rel="lazy-import"  href="../visor-transfer/visor-transfer.html">
<link rel="lazy-import"  href="../visor-nuser/visor-nuser.html">
<link rel="lazy-import"  href="../visor-page-not-found/visor-page-not-found.html">
<link rel="import" href="../visor-weather/visor-weather.html">

<dom-module id="gestor-eventos">

  <template>
    <style>
      :host {
        --app-primary-color: black;
        --app-secondary-color: black;
        display: block;
      }
      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <iron-localstorage
      name="ilocalstorage"
      value="{{storedUser}}"
      on-iron-localstorage-load-empty="initializeDefaultValue">
    </iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location
        route="{{route}}">
    </app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{data}}"
        tail="{{tail}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">

      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar><img src="../../img/house-home.png"></app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
            <div hidden$="[[!storedUser.user_authentication]]">
              <a name="logout" href="/logout">LOGOUT</a>
              <a name="accounts" href="/accounts">MY PRODUCTS</a>
              <a name="operations" href="/operations">OPERATIONS</a>
              <a name="transfer" href="/transfer">TRANSFER</a>
            </div>
            <div hidden$="[[storedUser.user_authentication]]">
              <a name="login" href="/login">LOGIN</a>
              <a name="nuser" href="/nuser">REGISTER</a>
            </div>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>WELCOME TO THE TABU-APP</div>
            <paper-icon-button icon="refresh" on-tap="refreshPage"></paper-icon-button>
          </app-toolbar>
        </app-header>

        <iron-pages
          selected="[[page]]"
          attr-for-selected="name"
          fallback-selection="page-not-found"
          role="main">
          <visor-logout name="logout" id="logoutReceiver" on-myevent2="processEventLogin"></visor-logout>
          <visor-accounts name="accounts" id="receiver" userid="{{this.storedUser.id_token}}" on-kick="processEventGetOperations"></visor-accounts>
          <visor-operations name="operations" id="operationsReceiver" accountid="{{accountid}}"></visor-operations>
          <visor-transfer name="transfer" id="transferReceiver" on-myevent3="processEventGetAccounts"></visor-transfer>
          <visor-login name="login" on-myevent="processEventGetAccounts"></visor-login>
          <visor-nuser name="nuser" id="nuserReceiver"></visor-nuser>
          <page-not-found name="page-not-found"></page-not-found>
        </iron-pages>

      </app-header-layout>
      <visor-weather></visor-weather>
    </app-drawer-layout>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorEventos extends Polymer.Element {
      static get is() { return 'gestor-eventos'; }
      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          data: Object,
          tail: Object,
          storedUser: Object,
          accountid: Number
        };
      };

      static get observers() {
        return [
          '_routePageChanged(data.page)',
        ];
      }

      _routePageChanged(page) {
        this.page = page || 'login';
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('../visor-' + page + '/visor-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'page-not-found';
      }

      processEventGetAccounts(e) {
        console.log("Loading accounts data after login");
        console.log("user in event: " + this.storedUser.id_token);
        this.$.receiver.userid = this.storedUser.id_token;
        this.set("route.path", "accounts");
        this.page = "accounts";
      }

      processEventGetOperations(e) {
        console.log("Loading operations after selecting one account");
        console.log("account in event: " + e.detail.idAccount);
        console.log(e);
        this.accountid = e.detail.idAccount;
        this.$.operationsReceiver.accountid = e.detail.idAccount;
        this.set("route.path", "operations");
        this.page = "operations";
      }

      processEventLogin(e){
        console.log ("Back Home");
      }

      refreshPage (){
        location.reload();
      }

      initializeDefaultValue (){
        console.log("initializeDefaultValue");
        this.storedUser = {
          name: "",
          id_token: 0,
          access_token: 0,
          user_authentication: false
        }
      };

    }

    window.customElements.define(GestorEventos.is, GestorEventos);
  </script>
</dom-module>
