<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/brum-global-variable/brum-global-variable.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">

<dom-module id="visor-transfer">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-radio-button {
        margin-right: 24px;
      }
      .td-button{
        text-align:center;
        vertical-align:middle
      }
      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }
    </style>

    <iron-localstorage
      name="ilocalstorage"
      value="{{storedUser}}"
      on-iron-localstorage-load-empty="initializeDefaultValue">
    </iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <h5>____________________________________________________</h5>
    First, select the account from you want to transfer money:
    <p></p>

    <paper-radio-group>
      <template is="dom-repeat" items="{{accounts}}">
        <paper-radio-button id="{{item.id}}">[[item.name]] : [[item.balance]] €</paper-radio-button> <br/>
      </template>
    </paper-radio-group>

    <h5>____________________________________________________</h5>
    Second, please, indicate the following data:
    <p></p>

    <table>
      <tr>
        <td>NAME OF THE PAYEE (MR/MS)</td>
        <td><input type="text" id="payeeName" placeholder="Payee" value="{{payeeName::input}}"></td>
        <td rowspan="4"  class="td-button">
          <button on-click="handleClick" style="border:none; background-color:white; cursor:pointer">
            <img src="https://s3-eu-west-1.amazonaws.com/staticsfronttechu4/trasnfer.png">
          </button>
        </td>
      </tr>
      <tr>
        <td>IBAN</td>
        <td><input type="text" id="IBANPayee" placeholder="IBANPayee" value="{{ibanPayee::input}}"></td>
      </tr>
      <tr>
        <td>AMOUNT TO TRANSFER (€)</td>
        <td><input type="amount" id="amount" placeholder="Amount" value="{{amount::input}}"></td>
      </tr>
      <tr>
        <td>CONCEPT</td>
        <td><input type="text" id="concept" placeholder="Concept" value="{{concept::input}}"></td>
      </tr>
    </table>

    <br>
    <template is="dom-if" if="[[mensaje]]">
        <p class="alert-error"><strong>Error:</strong> [[mensaje]]</p>
    </template>

    <iron-ajax
      id="getAccounts"
      method="GET"
      url="http://apitechu4edv3-api-tabu-app.193b.starter-ca-central-1.openshiftapps.com/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="manageAJAXAccountsresponse"
      on-error="showError">

    <iron-ajax
      id="doTransfer"
      method="POST"
      url="http://apitechu4edv3-api-tabu-app.193b.starter-ca-central-1.openshiftapps.com/apitechu/v2/transfer"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXTransferresponse"
      on-error="showErrorTransfer">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorTransfer extends Polymer.Element {
      static get is() { return 'visor-transfer'; }
      static get properties() {
        return {
          userid : {
            type: Number,
            reflectToAttribute: true,
            observer: '_getUserAccounts',
          },
          accounts:{
            type: Array
          },
          storedUser: Object
        };
      }

      ready(){
        super.ready();
        this.userid = this.storedUser.id_token;
      }

      _getUserAccounts(){
        console.log("Getting user accounts");
        this.$.getAccounts.params = this.storedUser.id_token;
        this.$.getAccounts.headers.Authorization = 'Bearer ' + this.storedUser.access_token;
        this.$.getAccounts.generateRequest();
        console.log("Locating accounts service...");
      }

      manageAJAXAccountsresponse(data){
        console.log("manageAJAXAccountsresponse");
        console.log(data.detail.response);
        this.accounts = data.detail.response;
      }

      showError(error){
          console.log("There was an error getting accounts. ");
          console.log(error);
      }

      handleClick(e) {
        console.log("Making transfer of money");
        if ((this.payeeName == undefined)||(this.ibanPayee == undefined)||(this.amount == undefined)||(this.concept == undefined)||(this.payeeName == "")||(this.ibanPayee == "")||(this.amount == "")||(this.concept == "")){
          console.log ("Data pending.");
          this.mensaje = "Please, complete the data for the transfer... Thanks!";
          return false;
        }
        else{
          var transferData = {
            "account_from" : this.accounts[0].id,
        	  "balance_from" : '' + this.accounts[0].balance + '',
            "account_to" : this.ibanPayee,
            "name_to" : this.payeeName,
            "amount": this.amount,
            "concept" : this.concept
          };
          console.log (transferData);
          this.$.doTransfer.headers.Authorization = 'Bearer ' + this.storedUser.access_token;
          this.$.doTransfer.body = JSON.stringify(transferData);
          this.$.doTransfer.generateRequest();
          console.log("Locating transfer service...");
        };
      }

      manageAJAXTransferresponse(data){
        console.log("Received transfer response.");
        console.log(data.detail.response);
        if (data.detail.response == undefined) {
          this.mensaje = "There is an error making the transfer- Please try it again later... :-(";
        }
        else{
          this.dispatchEvent(
            new CustomEvent("myevent3",
              {
                "detail":{}
              }
            )
          );
        }
      }

      showErrorTransfer(error){
        console.log("Unable to locate the transfer service. ");
        console.log(error);
        this.mensaje = "There was an error making the tranfer, please try it again later! Thanks!";
      }
    }

    window.customElements.define(VisorTransfer.is, VisorTransfer);
  </script>
</dom-module>
