<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-weather">
  <template>
    <style is="custom-style">
      :host {
        display: block;
        position: absolute;
        bottom: 15px;
        right: 15px;
        text-align:right
      }
      .weather{
        font-size: 2em;
        font-family: 'Roboto', 'Noto', sans-serif;
      }
    </style>
    <span class="weather"><img src="https://s3-eu-west-1.amazonaws.com/staticsfronttechu4/weather.png"> {{city}} : {{temp}}</span>
    <iron-ajax
      auto
      url="http://api.openweathermap.org/data/2.5/weather?lat=40,4685134&lon=-3,6737672&&units=metric&lang=es&APPID=397caa8fa0ed4c62e34487d3505a6004"
      handle-as="json"
      on-response="showData">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorWeather extends Polymer.Element {
      static get is() { return 'visor-weather'; }
      static get properties() {
        return {
          temp: Number,
          city: String
        };
      }

      showData(event){
        console.log(event.detail.response);
        //this.imgsrc = "http://openweathermap.org/img/w/" + event.detail.response.weather[0].icon + ".png";
        this.city = event.detail.response.name;
        this.temp = Number(event.detail.response.main.temp).toFixed(1) + "ºC";
      }
    }

    window.customElements.define(VisorWeather.is, VisorWeather);
  </script>
</dom-module>
