<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/brum-global-variable/brum-global-variable.html">

<dom-module id="visor-naccount">
  <template>
    <style>
      :host {
        display: block;
      }
      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }
    </style>

    <iron-localstorage
      name="ilocalstorage"
      value="{{storedUser}}">
    </iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <br>
      <h5>____________________________________________________</h5>
    Please, write down your data:
    <p>

    </p>

    <br>
    <template is="dom-if" if="[[mensaje]]">
        <p class="alert-error"><strong>Error:</strong> [[mensaje]]</p>
    </template>

    <iron-ajax
      id="doCreatenAccount"
      method="POST"
      url="http://apitechu4edv3-api-tabu-app.193b.starter-ca-central-1.openshiftapps.com/apitechu/v2/naccount"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXnAccountrresponse"
      on-error="showError">
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorNAccount extends Polymer.Element {
      static get is() { return 'visor-naccount'; }
      static get properties() {
        return {
          idAccount: {
            type: String
          },
          name: {
            type: String
          },
          storedUser: Object
        };
      }

      createnAccount(){
        console.log("Registering user");
        console.log();
        if ((this.first_name == undefined)||(this.last_name == undefined)||(this.email == undefined)||(this.first_name == "")||(this.last_name == "")||(this.email == "")){
          console.log ("Data pending.");
          this.mensaje = "Please, complete your data...";
          return false;
        }
        else{
          var registerData = {
            "first_name": this.first_name,
            "last_name": this.last_name,
            "email": this.email
          };
          this.$.doRegister.body = JSON.stringify(registerData);
          this.$.doRegister.generateRequest();
          console.log("Locating registering service...");
        };
      }

      manageAJAXnAccountrresponse(data){
        console.log("Received register response.");
        console.log(data.detail.response);
        if (data.detail.response.idNewUser == undefined) {
          this.mensaje = "There is already a user with this email!!";
        };
        this.registered = true;
      }

      showError(error){
        console.log("Unable to locate the register service. ");
        console.log(error);
        this.mensaje = "There was an error registering you, please try it again later! Thanks!";
      }
    }

    window.customElements.define(VisorNAccount.is, VisorNAccount);
  </script>
</dom-module>
