<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/brum-global-variable/brum-global-variable.html">

<dom-module id="visor-accounts">
  <template>
    <style>
      :host {
        display: block;
      }
      .td-black {
        border-top: 2px solid black;
        padding-top:25px;
        padding-bottom:25px;
      }
    </style>

    <iron-localstorage
      name="ilocalstorage"
      value="{{storedUser}}">
    </iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <p hidden$="[[this.storedUser.user_authentication]]"><p></p>
      Nice to see you... [[this.storedUser.name]] !!!
      Here you can consult your accounts and the balance of each one <p></p>
      <table>
      <template is="dom-repeat" items="{{accounts}}">
        <tr>
          <td class="td-black">
          IBAN : [[item.iban]] <br>
          Name : [[item.name]] <br>
          Saldo : [[item.balance]] €<br>
          </td>
          <td style="text-align:center;" class="td-black">
            <button id="{{item.id}}" on-click="handleClick" style="border:none; background-color:white; cursor:pointer;"><img src="https://s3-eu-west-1.amazonaws.com/staticsfronttechu4/movimientos.png"></button>
          </td>
        </tr>
      </template>
    </table>
    </p>
    <!--Click here to create an account:
    <button on-tap="createNewAccount" style="border:none; background-color:white; cursor:pointer;"><img src="../../img/naccount.png"></button>-->

    <paper-spinner alt="Loading your accounts..." active="[[loading]]"></paper-spinner>

    <iron-ajax
      id="getAccounts"
      method="GET"
      url="http://apitechu4edv3-api-tabu-app.193b.starter-ca-central-1.openshiftapps.com/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      loading="{{loading}}"
      on-response="manageAJAXAccountsresponse"
      on-error="showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorAccounts extends Polymer.Element {
      static get is() { return 'visor-accounts'; }
      static get properties() {
        return {
          userid : {
            type: Number,
            reflectToAttribute: true,
            observer: '_getUserAccounts',
          },
          accounts : {
            type: Array
          },
          ibanId: {
            type: String,
            observer: '_geAccountMovements',
          },
          loading :{
            type: Boolean
          },
          storedUser: Object
        };
      }

      ready(){
        super.ready();
        this.userid = this.storedUser.id_token;
      }

      _getUserAccounts(){
        console.log("Getting user accounts");
        this.$.getAccounts.params = this.storedUser.id_token;
        this.$.getAccounts.headers.Authorization = 'Bearer ' + this.storedUser.access_token;
        this.$.getAccounts.generateRequest();
        console.log("Locating accounts service...");
      }

      manageAJAXAccountsresponse(data){
        console.log("manageAJAXAccountsresponse");
        console.log(data.detail.response);
        this.accounts = data.detail.response;
      }

      showError(error){
          console.log("There was an error getting accounts. ");
          console.log(error);
      }

      handleClick(e) {
        var target = e.currentTarget;
        var id = target.id;
        console.log("Account to check: " + id);
        this.ibanId = id;
      }

      /*createNewAccount(){
        alert ("Coming soon!");
      }*/

      _geAccountMovements(){
        console.log("Account to check: " + this.ibanId);
        this.dispatchEvent(new CustomEvent('kick', {detail: {"idAccount": this.ibanId}}));
      }
    }

    window.customElements.define(VisorAccounts.is, VisorAccounts);
  </script>
</dom-module>
