<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/brum-global-variable/brum-global-variable.html">

<dom-module id="visor-login">
  <template>
    <style>
      :host {
        display: block;
      }
      .td-baqh{
        text-align:right;
        vertical-align:top
      }
      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }
      button{
        border:none;
        background-color:white;
        cursor:pointer
      }
    </style>

    <iron-localstorage
      name="ilocalstorage"
      value="{{storedUser}}">
    </iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <br>
    <h5>____________________________________________________</h5>
    If you are a customer, please login:
    <p></p>

      <table>
      <tr>
        <td>EMAIL</td>
        <td><input type="email" id="user_email" placeholder="Email" value="{{email::input}}" required></td>
        <td rowspan="2"> <button on-click="login"><img src="https://s3-eu-west-1.amazonaws.com/staticsfronttechu4/login.jpg"></button></td>
      </tr>
      <tr>
        <td>PASSWORD</td>
        <td><input type="password" id="password" placeholder="Password" value="{{password::input}}" required></td>
      </tr>
    </table>
    <br>
    <template is="dom-if" if="[[mensaje]]">
        <p class="alert-error"><strong>Error:</strong> [[mensaje]]</p>
    </template>

    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://apitechu4edv3-api-tabu-app.193b.starter-ca-central-1.openshiftapps.com/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXLoginresponse"
      on-error="showError">

  </template>

  <script>
  //http://rutaapi-pitechu-mvl.193b.starter-ca-central-1.openshiftapps.com/apitechu/v2/login
  //url="http://localhost:3000/apitechu/v2/login"
    /**
     * @customElement
     * @polymer
     */
    class VisorLogin extends Polymer.Element {
      static get is() { return 'visor-login'; }
      static get properties() {
        return {
          id:{
            type: Number,
            notify: true
          },
          first_name: {
            type: String,
            notify: true
          },
          last_name: {
            type: String,
            notify: true
          },
          email:{
            type: String,
            notify: true
          },
          storedUser: Object
        };
      }

      login(){
        console.log("Logining in");
        if ((this.email == undefined)||(this.password == undefined)||(this.email == "")||(this.password == "")){
          console.log ("Unable to authenticate the user.");
          this.mensaje = "Oops, user and password are required fields...Please, write email and password again...";
          return false;
        }
        else{
          var loginData = {
            "email": this.email,
            "password": this.password
          };
          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
          console.log("Locating login service...");
        };
      }

      manageAJAXLoginresponse(data){
          console.log("Received login response.");
          console.log(data.detail.response);
          if (data.detail.response.idUsuario) {
            this.error = '';
            this.storedUser = {
                name: data.detail.response.nameUsuario,
                id_token: data.detail.response.idUsuario,
                access_token: data.detail.response.token,
                user_authentication: true
            };
            this.dispatchEvent(
              new CustomEvent("myevent",
                {
                  "detail":{}
                }
              )
            );
          }
        }

      showError(error){
        console.log("Unable to locate the login service. ");
        console.log(error);
        this.mensaje = "There was an error identifying you, please try it again later! Thanks!";
      }
    }

    window.customElements.define(VisorLogin.is, VisorLogin);
  </script>
</dom-module>
