<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/brum-global-variable/brum-global-variable.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-operations">
  <template>
    <style is="custom-style">
      :host {
        display: block;
      }
      .td-black {
        border-top: 2px solid black;
        padding-top:25px;
        padding-bottom:25px;
      }
      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }
    </style>

    <iron-localstorage
      name="ilocalstorage"
      value="{{storedUser}}"
      on-iron-localstorage-load-empty="initializeDefaultValue">
    </iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <br/>
    Those are the movements of your account <p></p>
    <table>
      <thead>
        <tr>
            <th style="text-align:left;">CONCEPT</th>
            <th>DATE</th>
            <th>AMOUNT (€)</th>
        </tr>
      </thead>
      <template is="dom-repeat" items="{{operations}}">
        <tr>
          <td class="td-black">[[item.concept]]</td>
          <td class="td-black">[[item.date]]</td>
          <td class="td-black" style="text-align:right;">[[item.amount]] €</td>
        </tr>
      </template>
    </table>

    <template is="dom-if" if="[[mensaje]]">
        <p class="alert-error"><strong>Error:</strong> [[mensaje]]</p>
    </template>

    <iron-ajax
      id="getOperations"
      method="GET"
      url="http://apitechu4edv3-api-tabu-app.193b.starter-ca-central-1.openshiftapps.com/apitechu/v2/accounts/{{accountid}}/movements"
      handle-as="json"
      on-response="manageAJAXOperationsresponse"
      on-error="showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorOperations extends Polymer.Element {
      static get is() { return 'visor-operations'; }
      static get properties() {
        return {
          userid:{
            type: Number
          },
          accountid:{
            type: Number,
            reflectToAttribute: true,
            observer: '_getOperations',
          },
          operations:{
            type: Array
          },
          storedUser: Object
        };
      }

      _getOperations(){
        console.log("Getting account movements " + this.accountid + " vaaaa");
        this.$.getOperations.params = this.accountid;
        this.$.getOperations.headers.Authorization = 'Bearer ' + this.storedUser.access_token;
        this.$.getOperations.generateRequest();
        console.log("Locating movements service...");
      }

      manageAJAXOperationsresponse(data){
        console.log("manageAJAXOperationsresponse");
        console.log(data.detail.response.length);
        if (data.detail.response != ""){
          this.operations = data.detail.response;
        }
        else{
          this.mensaje = "Oops, you have never used this account. There are no movements to chow...";
          return false;
        }
      }

      showError(error){
          console.log("There was an error getting operations. ");
          console.log(error);
      }

      getMovements(){
        //console.log("Account to check: " + this.$.account-id);
        this.dispatchEvent(
          new CustomEvent("getMovementsAccount",
            {
              "detail":
              {
                  "idUser" : this.session_data.user_id,
                  "idAccount": this.session_data.user_authentication
              }
            }
          )
        );
      }
    }

    window.customElements.define(VisorOperations.is, VisorOperations);
  </script>
</dom-module>
